extends /base.jade
block vars
block head
block body
  +nbr(2)
  .block1024
    h1 下載 #[small.grayed / Download]
    .sep
    +nbr(2)
    ul
      li 報告中文 PDF ( Coming Soon )
      li English Report  PDF ( Coming Soon )
      li 第二章原始資料 / Raw Data ( Coming Soon )
  +nbr(4)
  include /footer.jade
