extends /base.jade
block vars
block head
block body
  +nbr(2)
  #download.block1024
    h1 下載 #[small.grayed / Download]
    .sep
    +nbr(1)
    ul
      li: a(href="/assets/pdf/report-zh.pdf") 報告中文 PDF
      li: a(href="/assets/pdf/report-en.pdf") English Report  PDF
      li
        | 第二章原始資料 / Raw Data
        ul
          li: a(href="https://github.com/ocftw/OpenGovReport14-16/tree/master/data",target="_blank") 原始資料
          li: a(href="https://github.com/ocftw/OpenGovReport14-16/wiki/OGR14-16-Readiness-and-Impact",target="_blank") 評估報告
  +nbr(4)
  include /footer.jade
