doctype html
//- basic libraries: jquery(1.10.2), d3js(3.5.4), angularjs(1.3.15), bootstrap(3.0)/semantic-ui(0.9.3/0.9.5)
//-                  fontawesome(4.4.0), reactjs(0.14.0)
- var use = { cdn: true, og: true, favicon: true }
- var lib = { jquery: true, d3js: false, angular: true, bootstrap: true, semantic: false, fontawesome: true, reactjs: false, revealjs: false, ionrangeslider: false, ldcolorpicker: false }
- var assets = "assets"
- var favicon = "thumbnail.png"
- var title = "開放政府觀察報告"
- var og = {}
- og.title = title
- og.twitter = {type: "summary_large_image", site: "@zbryikt", creator: "@zbryikt"}
- og.domain = "zbryikt.github.io"
- og.url = ""
- og.thumbnail = {width: 200, height: 200, type: "image/png"}
- og.thumbnail.url = "thumbnail.png"
- og.author = "zbryikt"
- og.section = "Taiwan"
- og.keyword = "zbryikt,template"
- og.description = "開放資料之政策基礎與影響力評估"
html(lang="en")
  head(prefix="og: http://ogp.me/ns#")
    meta(charset="utf-8")
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    // libraries
    include library.jade
    // custom files
    link(href="https://fonts.googleapis.com/css?family=Varela+Round",rel="stylesheet")
    link(rel="stylesheet",type="text/css",href="index.css")
    link(rel="stylesheet",type="text/css",href="lib/lib/plotdb.css")
    link(rel="stylesheet",type="text/css",href="other/loading.css")
    link(rel="stylesheet",type="text/css",href="other/loading-btn.css")
    script(type="text/javascript",src="lib/lib/plotdb.js")
    //-script(type="text/javascript",src="http://localhost/js/pack/view.js")
    script(type="text/javascript",src="lib/dependency.bundle.js")
    script(type="text/javascript",src="lib/ogr-project.js")
  body(ng-app="main",ng-controller="detail")
    #root
      h1.text-center
        div Open Government Report
        small.grayed(style="font-size:0.7em") 開放政府觀察報告
      hr
      .ld-over-full-inverse.running(style="margin:20px auto;max-width:1024px;width:100%",
      ng-class="{'running':loading}")
        .ld.ld-loader(style="font-size:130px;background-image:url(/equalizer.svg)")
        .row.text-center.summaries
          .col-sm-1
          #sum-context.col-sm-3.summary
            .name 政策基礎
            .subtitle Context
            .score 68
            .chart.sparkline: #chart-context
          #sum-dataset.col-sm-3.summary
            .name 資料集
            .subtitle Dataset
            .score 68
            .chart.sparkline: #chart-dataset
          #sum-impact.col-sm-3.summary
            .name 影響力
            .subtitle Impact
            .score 68
            .chart.sparkline: #chart-impact
        .row(style="margin-top:10px")
          .col-sm-3
            #sum-ttl.summary.text-right
              .name 綜合評比
              .subtitlte TTL
              .score 68
            .rank-table.tiny: table
              tr(ng-repeat="item in subcats")
                td {{item.key}}
                td: i.fa.fa-square(ng-class="'cat-' + clsmap[item.values.values[0].Category]")
                td {{item["總計"]}}
          .col-sm-9
            .text-center: h3 子分類分數
            .chart: #chart-attr
      br
      hr
      h2.text-center 開放資料現況評比
      .rank-table
        table
          tr
            th
            th(ng-repeat="d in detail")
              //-span {{d.key}}
              i.fa.fa-home
          tr(ng-repeat="tr in table")
            td {{tr.name}}
            td(ng-repeat="d in detail")
              .i.fa.fa-circle(ng-class="'level' + tr[d.key].rank")
              //-span {{tr[d.key]}}
      br
      hr
      br
      br
  script(type="text/javascript",src="index.js")
