<ul data-spy="affix" class="nav affix">
<li>關鍵結論</li>
<li>3-1. 台灣公民參與的發展歷程
<ul>
<li>既有的參與模式</li>
<li>具開放精神的公民參與萌芽</li>
<li>分析架構</li>
<li>Blulu 量表</li>
</ul>
</li>
<li>3-2. 案例分析：公民憲政會議草根論壇
<ul>
<li>由下而上的憲政改革</li>
<li>快速變化的社會情勢</li>
<li>Blulu 分析</li>
</ul>
</li>
<li>3-3. 案例分析：經貿青年國是會議
<ul>
<li>經貿國是會議的擴大參與</li>
<li>分流的參與是真正的參與嗎？</li>
<li>Blulu 分析</li>
</ul>
</li>
<li>3-4. 案例分析：飛雁新村
<ul>
<li>飛雁新村開發案</li>
<li>願景工作坊─利害關係人和局處釐清問題、彙整資訊</li>
<li>開放決策城鄉論壇─公民小組討論</li>
<li>哪些議題才能被開放？</li>
<li>Blulu 分析</li>
</ul>
</li>
<li>3-5. 案例分析：台北市社子島 i-Voting
<ul>
<li>社子島開發方向</li>
<li>投票就是民主嗎？</li>
<li>Blulu 分析</li>
</ul>
</li>
<li>3-6. 案例分析：公共政策網路參與平台
<ul>
<li>公共政策網路參與平台</li>
<li>快速上手、難以討論</li>
<li>Blulu 分析</li>
</ul>
</li>
<li>3-7. 案例分析：參與式預算
<ul>
<li>台北市：行政推動</li>
<li>新北市：議員配合款及主題式</li>
<li>台中市：標案式</li>
</ul>
</li>
<li>3-8. 困境與挑戰
<ul>
<li>註解</li>
</ul>
</li>
</ul>
