//- module
.btn
  border-radius: 2px

.btn.btn-default
  border: 1px solid #ccc

.btn.btn-crystal
  background: rgba(0,0,0,0.3)
  color: #fff
  border: 1px solid #000
  font-family: 'Open Sans', sans-serif

