//- module
@import '../vars'
@import '../basic'

#nav-top
  .navbar.navbar-default
    background: #fff
    border: none
    .navbar-brand
      line-height: 2.4em
      padding-top: 9px
      padding-bottom: 9px
      color: color.strong
    .navbar-nav > li > a
      color: color.link
      text-align: center
      padding-top: 12px
      padding-bottom: 8px
      & > div:first-child
        font-size: 1.1em
      & > div:last-child
        font-size: 0.8em
      & > span
        line-height: 2.4em

    .container-fluid
      max-width: 1024px
      margin: auto

#nav-top-placeholder
  height: 60px

@media (max-width: 640px)
  #nav-collapse ul.nav.navbar-nav.pull-right
    width: 100%
