//- module
@import '../vars.styl'
@import '../basic.styl'

for item,index in #eba523 #d77d7d #32aab4 #62a562 #4b3c96 #eba523
  #report .ch-{index}
    h1, h2, pre
      color: item
    pre:after
      color: darken(item, 10%)
    pre:after
      border-color: lighten(item, 95%)
    pre
      background: lighten(item, 95%)
    .panel.panel-conclusion
      border: 1px solid darken(item, 10%)
      color: darken(item, 10%)
      background: lighten(item, 95%)
      h2
        background: darken(item, 10%)
        color: #fff
