//- module
@import '../vars'
@import '../basic'

//rank = ( #d77d7d #e6c9c7 #bee5e8 #32aab4 )
rank = ( #e6e6e6 #b7d2ca #80bfba #32aab4 )

#visualization
  padding: 10px
.chart
  width: 500px
  max-width: 100%
  height: 400px
  margin: auto
  &.sparkline
    width: 100%
    height: 130px


.summary .name
  font-size: 2em
.summary .score
  font-size: 3em
  &:after
    content: "分"
    display: inline
    color: #999
    margin-left: 3px
    font-size: 0.4em
#sum-ttl .score
  font-size: 8em
  &:after
    font-size: 0.25em

.rank-legend
  .legend
    margin: 20px auto
    text-align: center
    span
      display: inline-block
      margin: 2px 5px
      vertical-align: middle
  .level3
    color: rank[3]
  .level2
    color: rank[2]
  .level1
    color: rank[1]
  .level0
    color: rank[0]
  .square
    width: 26px
    height: 18px
    display: inline-block
    margin: -3px 1px 0 0
    vertical-align: middle
  .square.level3
    background: rank[3]
  .square.level2
    background: rank[2]
  .square.level1
    background: rank[1]
  .square.level0
    background: rank[0]

.rank-table
  overflow-x: scroll
  max-width: 1024px
  margin: 20px auto
  width: 100%
  position: relative
  left: -10px
  table
    width: 100%
    min-width: 1024px
    tr th
      padding-bottom: 6px
    tr td, tr th
      text-align: center
      padding: 1px 4px
    tr td:first-child
      text-align: right
      padding-right: 20px 15px
      max-width: 100px
  .block
    width: 100%
    height: 24px

  .block.level3
    background: rank[3]
  .block.level2
    background: rank[2]
  .block.level1
    background: rank[1]
  .block.level0
    background: rank[0]

.rank-table.tiny
  table
    tr td, tr th
      padding: 1px

.cat-context
  color: color.success
.cat-dataset
  color: color.warning
.cat-impact
  color: color.info

#score-detail
  table
    td
      padding: 5px
    td:first-child
      min-width: 100px
      text-align: right
      border-right: 1px solid #ccc

#feedback
  max-width: 1024px
  margin: auto
.feedback-cat
  margin-bottom: 50px
.feedback-list
  padding: 10px 10px
  border: 1px solid #ddd
  box-shadow: 0 2px 2px rgba(0,0,0,.2)
  border-radius: 3px
  margin: 5px 0 15px
.feedback-item
  border-bottom: 1px solid #ddd
  &:last-child
    border-bottom: 0px
  .score
    color: #999
    margin-right: 5px
    display: inline-block
  i.fa-star
    color: #aaa
    font-size: 1.2em
    padding: 5px
    display: inline-block
    cursor: pointer
    &.active
      color: #ff0
      text-shadow: 0 0 2px #e61
  .btn.btn-link span
    display: block
    max-width: 700px
    width: 100%
    white-space: normal
    text-align: left
.feedback-score
  width: 125px
  text-align: center
#feedback-line
  width: 100%
  height: 300px
  line
    opacity: 0.3
    stroke-dasharray: 1 1
