//- module
@import '../vars.styl'
@import '../basic.styl'

#footer-top
  width: 100%
  height: 212px

#footer
  background: #222
  color: #fff
  .row
    max-width: 1024px
    margin: auto
  width: 100%
  border-top: 1px solid #ccc
  padding: 30px 20px
  .twitter-share-button
    background: #1b95e0
    border-radius: 4px
    padding: 3px 6px
    color: #fff
    display: inline-block
    line-height: 12px
    margin: 7px 0 0 5px
    vertical-align: middle
  .fb-share-button
    display: inline-block
    vertical-align: middle
