//- module
@import '../vars.styl'
@import '../basic.styl'

@import 'landing.styl'
@import 'report.styl'
@import 'data.styl'
@import 'download.styl'
@import 'about.styl'
@import 'footer.styl'
@import 'facebook.styl'
@import 'chapter.styl'

@media (max-width: 768px)
  #disqus_thread
    margin: 10px
