//- module
@import '../vars.styl'
@import '../basic.styl'

#landing
  width: 100%
  height: 360px
  background: url(/assets/img/banner-wide.png) #f5e168 center center no-repeat
  background-size: contain
  color: #fff
  position: relative

#banner
  text-align: center
  padding: 50px 0
  margin: auto
  position: absolute
  bottom: 20px

#summary
  .summary-block
    .row
      opacity: 0.75
    .detail
      opacity: 0.65
      background: #fff
      a.btn
        margin: 0
        padding: 0 0 30px
      ul
        padding-left: 0
      li
        list-style-type: none
        margin-bottom: 40px
      .block800
        padding: 30px 0
    color: #fff
    padding: 20px 50px 20px
    h1
      font-size: 3.2em
      letter-spacing: 10px
      margin: 40px 0
    .text-right h1
      display: none
    .desc
      font-weight: 100
      opacity: 0.9
    img
      width: 64px
      opacity: 0.5
      vertical-align: text-top
    i.fa
      opacity: 0.5
      margin: 0 10px
      font-size: 1.4em
      vertical-align: middle
    .row > .text-right
      padding: 50px 0 20px
      p
        font-size: 1.5em
    .block800
      font-size: 1.3em
      p
        opacity: 0.9
  .btn
    color: $(color.link)
  .row
    i.fa
      font-size: 2.5em
      margin: 0

@media (max-width: 640px)
  #landing
    height: 100%
    margin-top: -60px
    background-position: center center
    background-image: url(/assets/img/banner-mobile.png)
    background-size: contain
  #summary
    .summary-block
      padding: 10px
      img
        width: 48px
        margin-top: 8px
      h1
        margin: 10px 0 20px
      .row > .text-right
        padding: 10px 0
      .btn.btn-link.btn-lg
        font-size: 14px
        padding: 0 0 10px


body.en
  #summary
    .summary-block
      .text-left h1 span
        display: none
      .text-right h1
        display: block
        margin-bottom: 5px
      .text-right
        padding: 10px 0
      h1
        letter-spacing: 0
        font-size: 2.3em
        font-weight: 900
        margin: 0
      h1, h2, h3, p
        font-family: lato
      .detail
        h1, h2, h3
          word-spacing: 2px
        p
          font-weight: 300
      img
        width: 144px

