//- module
@import '../vars.styl'
@import '../basic.styl'

#landing
  width: 100%
  height: 300px
  background: #0c4b70
  color: #fff
  box-shadow: inset 0 0 200px rgba(0,0,0,0.3)

#banner
  text-align: center
  padding: 50px 0
  margin: auto

#summary
  .summary-block
    color: #fff
    padding: 20px 50px 20px
    h1
      font-size: 3.2em
      letter-spacing: 10px
    .desc
      font-weight: 100
      opacity: 0.9
    i.fa
      opacity: 0.5
      margin: 25px 10px 30px
      font-size: 1.4em
      vertical-align: middle
    .col-sm-7
      padding: 40px 0 20px
      p
        font-size: 1.5em
    .block800
      font-size: 1.3em
      p
        opacity: 0.9
  .btn
    color: #fff
