//- module
@import '../vars.styl'
@import '../basic.styl'

#report
  max-width: 1024px
  margin: 20px auto
  .col-sm-4
    padding: 20px
  .col-sm-8
    border-left: 1px solid #ccc
    padding: 20px 40px

  ol, ul
    font-size: 1em
    line-height: 2em
  p
    font-size: 1.2em
    margin-bottom: 20px
