<ul>
<li>Key Findings</li>
<li>1-1. Laws, Regulations, and Policies on Open Data and Open Government in Taiwan
<ul>
<li>Legislative History of Relevant Laws and Regulations</li>
<li>Legislative History of Citizen Participation and Collaboration</li>
</ul>
</li>
<li>1-2. Structure of Agencies Working on Open Government in Taiwan
<ul>
<li>Current Organizational Structure</li>
<li>Challenges under Current Framework</li>
</ul>
</li>
<li>1-3. International Comparisons
<ul>
<li>The US</li>
<li>The EU</li>
<li>South Korea</li>
<li>Note</li>
</ul>
</li>
</ul>