<ul>
<li>關鍵結論</li>
<li>4-1. 公民科技：公私協作的新嘗試</li>
<li>4-2. 物資地圖與災民證：公民科技救援急難事件
<ul>
<li>八仙塵爆開啟台北市公私協作的串連</li>
<li>開源程式應用在防災救援</li>
<li>搭橋者是公私協作的關鍵</li>
</ul>
</li>
<li>4-3. 公文郵遞管理系統：數位工具改善行政流程
<ul>
<li>用數位的力量改造行政流程</li>
<li>長期陪伴，從問問題開始學習</li>
<li>公民科技導入政府的困境</li>
</ul>
</li>
<li>4-4. 空氣盒子：打造政府、廠商、社群之間的生態圈
<ul>
<li>打造公民科技生態圈</li>
<li>小政府是公私協作的起點</li>
</ul>
</li>
<li>4-5. vTaiwan：開放協作創造審議空間
<ul>
<li>黑客松搬救兵，政府與社群共造線上審議平台</li>
<li>開放的不應只是參與的過程，而是權力與關係</li>
<li>vTaiwan 要如何玩真的？</li>
</ul>
</li>
<li>4-6. 如何促成公民科技協作關係
<ul>
<li>公民科技與資訊採購</li>
<li>公民科技的四種模式</li>
<li>化困境為挑戰</li>
<li>註解</li>
</ul>
</li>
</ul>