<ul>
<li>Key Findings</li>
<li>2-1. Introduction
<ul>
<li>Background</li>
<li>Definition of Open Data</li>
<li>Research Method and Data Source</li>
</ul>
</li>
<li>2-2 Readiness of Open Data
<ul>
<li>Government Policies</li>
<li>Government Action</li>
<li>Citizens and Civil Rights</li>
<li>Entrepreneur and Business</li>
</ul>
</li>
<li>2-3 Implementation of Open Data
<ul>
<li>Law and Organization</li>
<li>Government Accountability</li>
<li>Government Operations</li>
<li>Public Safety</li>
<li>Public Services</li>
<li>Economic Activities</li>
</ul>
</li>
<li>2-4 Impact of Open Data
<ul>
<li>Political Impact</li>
<li>Social Impact</li>
<li>Economic Impact</li>
</ul>
</li>
<li>2-5 Global Open Data Evaluations
<ul>
<li>Data and Documents</li>
<li>Note</li>
</ul>
</li>
</ul>
