<ul>
<li>Key Findings</li>
<li>3-1. Development of Citizen Participation in Taiwan
<ul>
<li>Existing Participation Models</li>
<li>The Seeds of Open Citizen Participation</li>
<li>Structure of Analysis</li>
<li>The Blulu Metrics</li>
</ul>
</li>
<li>3-2. The Grassroots Forums of Civic Constitutional Convention
<ul>
<li>Bottom-up Constitutional Reform</li>
<li>Rapid Changes in the Society</li>
<li>Blulu Analysis</li>
</ul>
</li>
<li>3-3. Youth World Café
<ul>
<li>Broaden Participation in the National Conference on Trade and Economic Affairs</li>
<li>Is Divided Participation Real Participation?</li>
<li>Blulu Analysis</li>
</ul>
</li>
<li>3-4. Feiyan New Village
<ul>
<li>Feiyan New Village Urban Renewal Project</li>
<li>Rural-Urban Forum—Citizen Group Discussion</li>
<li>Which Issues Can Be Opened?</li>
<li>Blulu Analysis</li>
</ul>
</li>
<li>3-5. Taipei City’s i-Voting
<ul>
<li>Directions for Developing Shezidao</li>
<li>Does Voting Represent Democracy</li>
<li>Blulu Analysis</li>
</ul>
</li>
<li>3-6. The Join Platform
<ul>
<li>The Join Platform</li>
<li>Fast and Convenient but Difficult to Have a Discussion</li>
<li>Blulu Analysis</li>
</ul>
</li>
<li>3-7. Participatory Budgeting
<ul>
<li>Taipei City: Administration Driven</li>
<li>New Taipei City: Councillor Discretionary Fund and Themed PB</li>
<li>Themed PB Conducted by Commissioned Community College</li>
<li>Taichung City: Outsourcing PB</li>
</ul>
</li>
<li>3-8. Difficulties and Challenges
<ul>
<li>Note</li>
</ul>
</li>
</ul>
