extends base.jade
block vars
  - var lib = {d3js: false, clipboardjs: false, domtoimg: false, ldcolorpicker: true, gifjs: false}
  - var rootid = "errorview"
block head
block body
  div &nbsp;

  #root
    +nbr(5)
    .text-center
      small.grayed HTTP 403
      h1 你的存取被拒絕
      small.grayed 你的資料可以釋出嗎？
      +nbr(3)
      a(href="/") 回首頁
    br
