//- module
doctype html
- var domain = "https://opengovreport.ocf.tw"
- var debug = false
- var version = "26"
- var title = "開放政府觀察報告"
- var description = "回顧並檢視了台灣 2014-2016 年「開放政府」的發展狀況"
- if(lang == "en") { title = "Taiwan Open Government Report"; description = "This is a research project conducted by the Open Culture Foundation to review the practice and impacts of open government policies in Taiwan from 2014 to 2016."; }
- var url = "https://opengovreport.ocf.tw/" + (lang == "zh" ? "" : lang + "/") + dir
- var thumbnail = "https://opengovreport.ocf.tw/assets/img/banner-wide.png"
- var thumbtype = "image/png"
- var thumb_width = "1400"
- var thumb_height = "500"
- var favicon = "/assets/img/logo.png"
- var rootid = ""
- var rootclass = ""
html(lang="en")
  block vars
  head(prefix="og: http://ogp.me/ns#")
    include library.jade
    link(rel="stylesheet",type="text/css",href="/css/index.css?"+version)
    link(rel="chrome-webstore-item",href="https://chrome.google.com/webstore/detail/einojbmllcjnkcapgajdbjjnpibkjnhh")
    if debug
      link(rel="stylesheet",type="text/css",href="/assets/googlefont/varela-round/index.css")
    else
      link(href="https://fonts.googleapis.com/css?family=Varela+Round",rel="stylesheet")
      link(href="https://fonts.googleapis.com/css?family=Open+Sans:300",rel="stylesheet")


    script(type="text/javascript",src="/js/global.js")
    script(type="text/javascript",src="/js/index.js")
    block head
  body(ng-app="ogr",class=(lang || "zh"))
    include mixin.jade
    include nav.jade
    #notifications
      .notify(ng-repeat="n in notifications",ng-class="'notify-'+n.type",ng-cloak) {{n.message}}
    block body
    if !debug
      include ga.jade
      include /facebook/init.jade
