//- module
#footer-top
#footer
  .row
    .col-sm-6
      div 開放政府觀察報告 #[sup: small 14-16]
      div Contact
    .col-sm-6
      div Github #[i.fa.fa-github]
      div Released under CC-BY-SA 4.0 license
