extends /base.jade
block vars
block head
  script(type="text/javascript",src="/js/report/index.js")
block body
  #landing
    #banner
      h1 開放政府觀察報告 2014 - 2016
      p #[b.strong O]pen #[b.strong G]overnment #[b.strong R]eport 2014 - 2016
    .text-center
      .btn.btn-crystal.btn-lg 中文報告
      span &nbsp;
      .btn.btn-crystal.btn-lg English Report
  #report(ng-controller="report")
    #content.summary
      include /partial/report/summary.html

    .sep.huge-gap
    +nbr(1)
    h3.text-center 有任何想法嗎？歡迎在這裡跟大家討論！
    script.
      var disqus_config = function () {
      this.page.url = "http://opengovreport.ocf.tw/";
      this.page.identifier = "/";
      };
    include /module/disqus.jade

  include /footer.jade
