extends /base.jade
block vars
block head
  script(type="text/javascript",src="/js/report/index.js")
block body
  #landing
    #banner
      h1 開放政府觀察報告 2014 - 2016
      p #[b.strong O]pen #[b.strong G]overnment #[b.strong R]eport 2014 - 2016
    .text-center
      .btn.btn-crystal.btn-lg 中文報告
      span &nbsp;
      .btn.btn-crystal.btn-lg English Report
  #report(ng-controller="report",style="max-width:100%;margin:0")
    #summary
      - var colors = ["f5542e","f2c327","008b6e","0067ad"];
      - var icons = ["0.1", "2.1", "5.4", "10"];
      each item in data
        .summary-block(style="background:#" + colors[$index])
          .row.block1024.clickable(data-toggle="collapse", data-target="#summary-" + $index)
            .col-sm-5
              h1 #[img(src="/assets/img/icons/icon_" + icons[$index] + ".white.svg")] #{item.name}
            .col-sm-7.text-right
              p.desc #{item.summary}
              .btn.btn-link.btn-lg More ...
          .collapse(id="summary-" + $index,data-toggle="collapse", data-target="#summary-" + $index)
            .block800 !{item.detail}
            a.btn.btn-block.btn-link.btn-lg.text-center(href="/report") Read the Report #[i.fa.fa-arrow-right]

    .sep.huge-gap
    +nbr(1)
    h3.text-center 有任何想法嗎？歡迎在這裡跟大家討論！
    .block1024
      script.
        var disqus_config = function () {
        this.page.url = "http://opengovreport.ocf.tw/";
        this.page.identifier = "/";
        };
      include /module/disqus.jade

  include /footer.jade
