<ul>
<li>Key Findings</li>
<li>4-1. Civic tech: A New Possibility for Public-Private Collaboration</li>
<li>4-2. Donation Maps and Victim Identification: Civic Tech in Emergencies
<ul>
<li>An Explosion Results in Taipei’s First Civic Tech Collaboration</li>
<li>Open Source Programs in Disaster Prevention and Relief</li>
<li>Bridge Builders Are the Key to Civic Tech Collaboration</li>
</ul>
</li>
<li>4-3. Document Delivery Management System: Using Digital Tools to Improve Administrative Processes
<ul>
<li>Reforming Administrative Processes with the Power of Digital Technology</li>
<li>Long-term Partnership: Start by Identifying the Right Problems</li>
<li>Difficulties Faced by Civic Tech in Government</li>
</ul>
</li>
<li>4-4. AirBox: Building a Civic Tech Ecosystem
<ul>
<li>A Civic Tech Ecosystem of Governments, Companies, and Communities</li>
<li>Small Government Is the Starting Point for Public-Private Collaboration</li>
</ul>
</li>
<li>4-5. vTaiwan: Civic Tech Collaboration to Create an Open Space for Deliberation
<ul>
<li>Building an Online Deliberation Platform in a Hackathon</li>
<li>Power and Relationships Should Be Opened Up</li>
<li>How Can vTaiwan Deepen Its Impact?</li>
</ul>
</li>
<li>4-6. How to Facilitate Civic Tech Collaboration
<ul>
<li>Civic Tech vs IT Procurement</li>
<li>Four Models for Civic Tech</li>
<li>Turning Difficulties Into Challenges</li>
<li>Note</li>
</ul>
</li>
</ul>